.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
.B {width: 22px;
  height: 22px;}

.A a{
  margin-right: 0 !important; 
}

.App-intro {
  font-size: large;
}

.c {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    width: 350px;
}


.k {
  font-size: medium;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');